
node_modules
*.iml
*.rdb
pgdata
.tmp
.anvil
.idea
files/uploads/**/*.png
files/uploads/**/*.pdf
files/uploads/execution/*.*
files/uploads/execution/**/
files/temp/*
temp/*
config
*.log
test/tmp/*
coverage/*
static/dist
.sass-cache
.tmp
